@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Task management is an essential part of work projects — and for most of our personal lives too.
        Here you have a simple way to manage and measure your demands.
    </p>


</div>
